.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@font-face {
  font-family: "Johnston100-Light";
    src: url('./fonts/Johnston100W03-Light.eot'); 
    src: url('./fonts/Johnston100W03-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Light.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Light.woff') format('woff'),
         url('./fonts/Johnston100W03-Light.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Light.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Regular";
    src: url('./fonts/Johnston100W03-Regular.eot'); 
    src: url('./fonts/Johnston100W03-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Regular.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Regular.woff') format('woff'),
         url('./fonts/Johnston100W03-Regular.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Regular.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Medium";
    src: url('./fonts/Johnston100W03-Medium.eot'); 
    src: url('./fonts/Johnston100W03-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Medium.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Medium.woff') format('woff'),
         url('./fonts/Johnston100W03-Medium.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Medium.svg') format('svg');
}