.roundelStyling {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

svg:not(:root){
  overflow: visible;
}

.textBoxStyling{
  text-align: center;
  padding: 10px
}

.colourBoxStyling{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}


/* CROSS COMPATABILITY FONTS */
@font-face {
  font-family: "Johnston100-Light";
    src: url('./fonts/Johnston100W03-Light.eot'); 
    src: url('./fonts/Johnston100W03-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Light.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Light.woff') format('woff'),
         url('./fonts/Johnston100W03-Light.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Light.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Regular";
    src: url('./fonts/Johnston100W03-Regular.eot'); 
    src: url('./fonts/Johnston100W03-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Regular.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Regular.woff') format('woff'),
         url('./fonts/Johnston100W03-Regular.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Regular.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Medium";
    src: url('./fonts/Johnston100W03-Medium.eot'); 
    src: url('./fonts/Johnston100W03-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Medium.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Medium.woff') format('woff'),
         url('./fonts/Johnston100W03-Medium.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Medium.svg') format('svg');
}