.textBox {
  font-family: "Johnston100-Regular";
  border-radius: 4px;
  height: 40px;
  width: 300px;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  color: 40px;
  background-color: white;
  font-size:20px;
  padding-left: 10px;
  text-align: center;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
   color: rgb(113, 113, 113);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
   color: rgb(113, 113, 113);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
   color: rgb(113, 113, 113);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
   color: rgb(113, 113, 113);
}
input::placeholder {
   color: rgb(113, 113, 113);
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
   color: rgb(113, 113, 113);
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
   color: rgb(113, 113, 113);
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
   color: rgb(113, 113, 113);
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
   color: rgb(113, 113, 113);
}
textarea::placeholder {
   color: rgb(113, 113, 113);
}

.textBox::placeholder {
  font-family: "Johnston100-Light";
  font-size: 20px;
}